@use 'sass:map';

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin respond-to($breakpoint) {
  $size: map.get($breakpoints, $breakpoint);
  @if $size != null {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint: #{$breakpoint}";
  }
}
