// Custom Colors
$main-bg-color: #f8f9fa; // Main background color
$header-bg-color: #17a2b8; // Header background color
$card-bg-color: white;

// padding size
$padding-sm: 1rem 2rem;
$padding-lg: 3rem 4rem;

$font-family-base: 'Noto Sans KR', sans-serif;
$border-radius: 0.3rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.2rem;
